{% macro render_input(for_label, label_text, input_type, placeholder="") -%}
<label for="{{for_label}}" class="d-block h5 mt-3">{{label_text}}:</label>
<input type="{{input_type}}" class="form-control form-control-md" placeholder="{{placeholder}}" id="{{for_label}}" name="{{for_label}}" required>
{%- endmacro -%}
{% extends 'layout/home.html' %}
{% block page_content %}
<div class="container-fluid d-flex flex-column">
    <div class="text-center">
        <h1 class="h1 text-uppercase">MEDICAL'S BILL</h1>
    </div>
    <form action="/create_bill" method="post" class="mt-2 ml-5">
        <div class="form-group">
            {{ render_input("patientName", "Patient Name", "text", placeholder="Enter patient name...")}}
            {{ render_input("payDay", "Pay Day", "date")}}
            
            <div class="text-center">
                <button class="btn btn-primary mt-5 pl-5 pr-5 mx-auto">POST</button>
            </div>
            
        </div>
    </form>

</div>
{% endblock %}